<h1>Your photo was uploaded sucessfully!</h1>

<div class="photo">
  <h2><%= @photo.title %></h2>
  <a href="<%= @photo.image.url %>" target="_blank">
    <%= image_tag(@photo.image.thumbnail.url, :class => "thumbnail inline") %>
  </a>
</div>

<a href="<%= photos_path %>" class="back_link">Back to Gallery</a>

