
<h1>Hi, you can keep your photos here!</h1>

<div class="actions">
  <a class="upload_link" href="<%= new_photo_path %>">Add photo from your PC</a>
</div>

<div class="photos">
  <% if @photos.empty? %>
    <p>No photos were added yet.</p>
  <% end %>
  <% thumbs_params = { :format => "jpg", :height => 150, :width => 150, :class => "thumbnail inline" } %>
  <table>
  <tr>
  <% @photos.each do |photo| %>
    <td class="photo">
      <h2><%= photo.title %></h2>
      <a href="<%= photo.image.url %>" target="_blank">
        <%= image_tag(photo.image.thumbnail.url, :class => "thumbnail inline") %>
      </a>
    </td>
  <% end %>
  </tr>
  </table>
</div>


